@font-face
    font-family 'Helvetica Neue'
    font-style normal
    font-weight 400
    src  url('../assets/fonts/HelveticaNeue.woff2') format('woff2'),
        url('../assets/fonts/HelveticaNeue.woff') format('woff'),
        url('../assets/fonts/HelveticaNeue.ttf') format('ttf'),
        url('../assets/fonts/HelveticaNeue.eot') format('eot')
@font-face
    font-family 'Helvetica Neue Bold'
    font-style normal
    font-weight 700
    src  url('../assets/fonts/HelveticaNeue-Bold.woff2') format('woff2'),
        url('../assets/fonts/HelveticaNeue-Bold.woff') format('woff'),
        url('../assets/fonts/HelveticaNeue-Bold.ttf') format('ttf'),
        url('../assets/fonts/HelveticaNeue-Bold.eot') format('eot')

