menu_width = 26rem
*
    margin 0
    padding 0
    box-sizing border-box
html
    font-size 62.5%

html, body
    height 100%

button
    border none
    outline none

a
    color inherit
    text-decoration none
li
    list-style-type none
img
    max-width 100%

.red-button
    padding 0 2rem
    button
        padding 1rem 2rem
        color color_brand_white
        border-radius 1.5rem
        letter-spacing 0.4px
        font 400 1.5rem / 1.1 Helvetica Neue
        background color_brand_red
        transition .5s
        &:hover
            box-shadow 1.5px 1.5px 3px 0 rgba(255,255,255,0.3)

.container
    padding 1.5rem 3rem 1.5rem menu_width+3rem
