.menu
    position fixed
    left 0
    top 0
    width 26rem
    height 100%
    overflow auto
    .langs
        display flex
        justify-content flex-end
        margin-right 2rem
        .active, a:hover
            color color_brand_white
        a, p
            padding 0 2px
            color color_brand_light_white
            transition .3s
            font 400 1.6rem / 1.2 Helvetica Neue
    .hamburger
        display none
    .hamburger
        position absolute
        padding 2rem
    .icon svg
        width 3rem
        height @width
    .menu-content
        display flex
        flex-direction column
        min-height 100%
        padding 2rem 0
        text-align center
        background color_brand_dark_black
        transition .5s
    .user-info
        margin-top 2rem
    .avatar
        padding-bottom 1.5rem
        .name, .position
            letter-spacing .5px
        .position
            margin-top 0.5rem
            color color_brand_light_white
            font 400 1.4rem / 1.2 Helvetica Neue
        .name
            color color_brand_white
            margin-top 1rem
            font 700 2.0rem / 1.2 Helvetica Neue Bold
        img
            width 9rem
            height @width
    .menu-list
        margin 7rem 0 1rem 0
        li
            position relative
            padding 0.8rem 0
            text-align left
            color color_brand_light_white2
            font 400 1.7rem / 1.2 Helvetica Neue
            a
                padding-left 1.7rem
                letter-spacing .3px
            &.active
                color color_brand_white
                background color_brand_dark_black2
                &:before
                    content ''
                    position absolute
                    height 100%
                    top 0
                    left 0
                    border-left 2px solid color_brand_red
    .menu-footer
        margin-top auto
    .socials
        display flex
        justify-content space-around
        align-self flex-end
        .icon
            width 4rem
            height @width
            cursor pointer



